@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "react-calendar/dist/Calendar.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    scrollbar-color: #09bc8a transparent;
    scrollbar-width: thin;
  }

  .scrollbar::scrollbar {
    width: 6px;
  }

  .scrollbar::scrollbar-track {
    background-color: transparent;
  }

  .scrollbar::scrollbar-thumb {
    background-color: #38b2ac;
    border-radius: 50%;
    min-height: 50px;
  }

  /* calender styles */
  .prev-button::before,
  .next-button::before {
    content: ""; /* Remove the default content (double arrow) */
  }

  .prev-button::after {
    content: "←"; /* Add the desired content (single left arrow) */
  }

  .next-button::after {
    content: "→"; /* Add the desired content (single right arrow) */
  }
}
